WITH tags AS (SELECT tpr.moment_id, array_agg('[' || tag_id || ',' || t.name || ']') AS values
              FROM tag_moment_relation tpr
                  JOIN tag t on t.id = tpr.tag_id
              WHERE tpr.moment_id = $momentId
              GROUP BY tpr.moment_id)
SELECT m.id,
       m.description,
       m.date,
       m.user_id,
       t.values AS tags
FROM moments m
    LEFT JOIN tags t ON t.moment_id = m.id
WHERE m.id = $momentId