<div class="panel-group" id="accordion">
    <div th:each="datum, iStat: ${data}" class="panel panel-default" th:with="list=${datum.list}">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" th:href="'#collapse-' + ${iStat.index}">
                    [[${list.name}]]
                </a>
                <div class="cancel-button" th:onclick="'Lists.delete(' + ${list.id} + ');'"></div>
                <div class="edit-button" th:onclick="'Lists.edit(' + ${list.id} + ');'"></div>
            </h4>
        </div>
        <div th:id="'collapse-' + ${iStat.index}" class="panel-collapse collapse">
            <div class="panel-body">
                <p th:each="item, iStatItem: ${datum.listItems}">
                    [[${iStatItem.index + 1}]]. [[${item.name}]]
                </p>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 8px; text-align: center;">
    <a class="btn icon-btn btn-primary" href="#" data-toggle="modal" onclick="Lists.new();">
        <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
        Add List
    </a>
</div>

