<div class="row">
    <div id="dailyList" class="col-sm-8" th:with="viewType='ViewType.DAILY'">
        <div th:insert="plans/list.html :: div"></div>
    </div>
    <div class="col-sm-4">
        <div id="datepicker-daily"></div>
        <div style="margin-top: 8px; text-align: center;">
            <a class="btn icon-btn btn-info" href="#" data-toggle="modal" onclick="Plan.new('datepicker-daily', 'ViewType.DAILY');">
                <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
                Add Plan
            </a>
            <a class="btn icon-btn btn-success" href="#" data-toggle="modal" onclick="Moment.new('datepicker-daily', 'ViewType.DAILY');">
                <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
                Add Moment
            </a>
        </div>

        <div class="panel panel-default" style="margin-top: 15px;">
            <div class="panel-heading">View options</div>
            <div class="panel-body" id="view-options-daily" th:insert="viewOptions.html"></div>
        </div>
    </div>
</div>