.btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}

#loading {
    background: url("loader.gif") center center no-repeat;
    opacity: 0.5;
    cursor: auto;
    width: 100%;
    height: 100%;
    z-index: 15;

    /* Positioning */
    position: absolute;
    left: 0;
    top: 0;
}

#user-menu {
    top: -45px;
    right: -45px;
    float: right;
}

#user-menu > button.btn-info {
    background-color: #4fa8c4;
    border-color: #4d819d;
}

.plans-day-strip {
    text-align: center;
    color: #264e7c;
    font-weight: bold;
    font-size: 14pt;
    border: solid 2px #3c3c3c;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}

.plans-day-strip:hover {
    background-color: #cce5ff;
}

.plans-day-strip.collapsed {
    background-color: #63afff;
    color: white;
}

.plans-day-strip.collapsed:hover {
    background-color: #cce5ff;
    color: #264e7c;
}

.plans-day-list {
    padding: 0 2px 0 2px;
}

td.overview {
    border: 1px solid darkgrey;
    padding: 3px;
}

.overview-item {

}

.overview-item-day {
    font-size: small;
    color: darkgrey;
}

.overview-done {
    color: darkgreen;
}

.overview-canceled {
    text-decoration: line-through;
}

.overview-outdated {
    color: #ac2925;
}

.moment {
    font-size: 13pt;
    font-weight: 300;
    margin: 0;
    overflow-y: hidden;
    max-height: 98px;
    min-height: 98px;
    padding: 0 10px;
    filter: blur(4px);
}

.moment:hover {
    overflow-y: auto;
    filter: none;
}