.center {
    margin-top:50px;
}

.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}

.modal-footer .btn-group button {
    height:40px;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border: none;
    border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
    border-right: 0;
}

.modal-body .tags {
    display: block;
    padding-top: 5px;
}

.modal-body .tag {
    padding: 3px 10px;
    margin-right: 3px;
    border-radius: 10px;
}

.modal-body .tag-remove {
    color: black;
    font-weight: 300;
    font-family: Arial, sans-serif;
    border-left: solid .2px gray;
    padding-left: 4px;
    cursor: pointer;
}

.modal-body .tag-remove:hover {
    opacity: .7;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}